*
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face { 
  font-family: PixelFont; src: url('Pixel Font.TTF');
}

.box
{
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: #04AA6D;
  color: white;
  font-family: PixelFont;
  font-size: 3.2vw;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 10%;
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}

.box:hover {
  background-color: white;
  color: #04AA6D;
}